body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #0498B6;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}
.test{
    color: #135900;
    font-weight: bold;
}
body{
    background-image: url("../res/fond.jpg");
}
.inline{
    display: block;
}
.conteneur{
    background-color: rgba(255,255,255,.5);
    padding: 20px;
}
.titre{
    font-weight: bold;
}
.haut{
    display: inline;
}
.floatant{
    float: right;
}
article{
    background-color: rgba(80,80,80,.5);
    padding: 5px;
    margin-bottom: 10px;
}
article:hover{
    background-color: rgb(80,80,80);
    padding: 8px;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
